
.ourteamparent h2{
    font-size: 1.8rem;
    font-weight:550;
    text-align: center;
    margin: auto;
    margin-bottom: 0.4rem;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 20px;

}
.ourteamparent{
    padding-top:40px ;
    background: #f9f5f7;
    padding-bottom: 40px;
}
.ourteam{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    grid-gap: 30px;
    padding-top: 10px;

}
.ourteamkid{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    grid-gap: 30px;
    margin-top: 20px;

}
.photo{
    margin: auto;
    width: 200px;
    height: 200px;
    background: url(./asstets/myphoto\ \(1\).jpg) no-repeat;
    background-size: cover; 
    border-radius: 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.photo2{
    margin: auto;
    width: 200px;
    height: 200px;
    background: url(./asstets/dicksonbrother\ \(1\).jpg) no-repeat;
    background-size: cover; 
    border-radius: 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.photo3{
    margin: auto;
    width: 200px;
    height: 200px;
    background: url(./asstets/aryaimg.jpg) no-repeat;
    background-size: cover; 
    border-radius: 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.photo4{
    margin: auto;
    width: 200px;
    height: 200px;
    background: url(./asstets/Ansuyastha.jpg) no-repeat;
    background-size: cover; 
    border-radius: 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.photo5{
    margin: auto;
    width: 200px;
    height: 200px;
    background: url(./asstets/siddhantimg.jpg) no-repeat;
    background-size: cover; 
    border-radius: 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.parenttopsection{
    display: flex;
    width: 100%;
    height: 400px;
    background:  #f9f5f7;
    align-items: center;
  
}
.ourteamparent h2{
    padding: 10px;
}
.topsection{
    margin: auto;
    display: flex;
    justify-content: space-between;
    grid-gap: 200px;
}
.textbox{
    height: fit-content;
    padding: 20px;
}
.logosection{
    width: 300px;
    height: 200px;
    background: url(./asstets/logo.png) no-repeat;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
}
.textsectionparent{
    display: flex;
    width: 80%;
    padding: 50px;
    margin: auto;
    justify-content: space-between;
}
.photosection{
    width: 40%;
    height: 400px;

}
.textsectionkid{
    width: 40%;
    height: fit-content;
    align-self: right;
}
.textsectionkid h1{
    color: black;
    font-size: 2rem;
    font-weight: 650;
    margin-top:20px;
    padding-bottom: 10px;
}
@media (max-width: 1024px) {
    .parenttopsection{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        background:  #f9f5f7;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .topsection{
        grid-gap: 10px;
    }
    .ourteam{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        grid-gap: 30px;
        align-items: center;
    
    }
    .ourteamkid{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        grid-gap: 30px;
        margin-top: 20px;
        align-items: center;
    
    }
    .parenttopsection h2{
        font-size: 2rem;
    }
    .parenttopsection p{
        font-size: 1.2rem;
    }
    .logosection{
        width: 180px;
        height: 150px;
        background: url(./asstets/logo.png) no-repeat;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        margin: auto;
    }
    .textsectionparent{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .photosection{
        width: 100%;
        height: 200px;
        margin-bottom: 2rem;
    }
    
    .textsectionkid{
        width: 100%;
        height: 600px!important;
        align-self: right;
    }
    .textsectionkid h1{
        color: black;
        font-size: 2rem;
        font-weight: 650;
        margin-top:200px;
        padding-bottom: 10px;
    }
}
@media (max-width: 580px) {
    .parenttopsection{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        background:  #f9f5f7;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .topsection{
        grid-gap: 10px;
    }
    .ourteam{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        grid-gap: 30px;
        align-items: center;
    
    }
    .ourteamkid{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        grid-gap: 30px;
        margin-top: 20px;
        align-items: center;
    
    }
    .parenttopsection h2{
        font-size: 0.9rem;
    }
    .parenttopsection p{
        font-size: 0.6rem;
    }
    .logosection{
        width: 180px;
        height: 150px;
        background: url(./asstets/logo.png) no-repeat;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        margin: auto;
    }
    .textsectionparent{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .photosection{
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }
    .textsectionkid{
        width: 100%;
        height: 600px;
        align-self: right;
    }
    .textsectionkid h1{
        color: black;
        font-size: 2rem;
        font-weight: 650;
        margin-top:20px;
        padding-bottom: 10px;
    }
}

